* {
  margin: 0;
  box-sizing: border-box;
}

button {
  outline: none;
  cursor: pointer;
  border: none;
}

input {
  outline: none;
}

input[type="submit"] {
  cursor: pointer;
}

body {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  background-color: #E4E8AF;
  background: linear-gradient(45deg, #c8db76 9%, #c8db76 9%, #927dc4 93%);
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.3 ease;
}

body #sidemenubar {
  width: 300px;
  background-color: #a9a6c5;
  box-shadow: 0px 0px 6px 0px black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body #sidemenubar a {
  color: #e9f545;
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  margin-top: 1rem;
}

body #sidemenubar a img {
  height: 2rem;
}

body #sidemenubar form {
  background-color: #E4E8AF;
  margin: 30px 10px;
  padding: 10px 0;
  border-radius: 4px;
}

body #sidemenubar form p {
  margin: 10px;
  padding: 6px 1px;
  text-align: center;
}

body #sidemenubar form p label {
  width: 100%;
  display: block;
  text-align: left;
}

body #sidemenubar form p:first-of-type {
  border-bottom: 1px solid black;
}

body #sidemenubar form input[type="text"] {
  border: none;
  width: 100%;
  height: 1.5rem;
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  border-bottom: 1px solid black;
  border-radius: 0;
  text-align: center;
  margin-top: 12px;
}

body #sidemenubar form #sendForm {
  border: none;
  width: 50%;
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  background-color: #e9f545;
  padding: 0.5rem 1rem;
  border-radius: 0;
  text-align: center;
  margin: auto;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

body #sidemenubar form #sendForm:hover {
  transform: translateY(3px);
}

body #sidemenubar #smth {
  background-color: white;
  margin: 30px 10px;
  padding: 10px 0;
  border-radius: 4px;
  text-align: center;
  height: 50%;
  display: flex;
  justify-content: center;
}

body #sidemenubar #smth p {
  margin: auto;
}

body #sidemenubar footer {
  width: 100%;
  text-align: center;
  padding: 10px;
}

body #sidemenubar footer p {
  color: black;
  font-size: 1rem;
  padding: 0 10px;
}

body #sidemenubar footer p .cons8 {
  color: inherit;
  font-size: 0.85rem;
  padding-bottom: 4px;
}

body #maincnt {
  width: calc(100% - 300px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body #maincnt #container {
  height: 668px;
  width: 668px;
  margin: auto;
  display: block;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 12px 12px 0px rgba(0, 0, 0, 0.548);
}

body #maincnt #container .line {
  display: flex;
  width: 100%;
  height: calc(100%/3);
  justify-content: space-around;
}

body #maincnt #container .line .ticchar {
  display: flex;
  height: 98%;
  width: calc(98%/3);
  text-align: center;
  background-color: #B9CE90;
  box-sizing: border-box;
  justify-content: center;
  transition: 0.2s ease;
  cursor: pointer;
  margin: auto;
  border-radius: 4px;
}

body #maincnt #container .line .ticchar:hover {
  background-color: #9e31eb32;
  transition: 0.2s ease;
}

body #maincnt #container .line .ticchar img {
  margin: auto;
  height: 72px;
  width: 72px;
}

body #maincnt #container .line .ticCross:hover {
  background-color: #C2173432;
}

body #maincnt #container .line .winClass {
  background-color: #e9f545;
}

body #maincnt #container .line .winClass:hover {
  background-color: #e9f545;
}

body #maincnt #whowin {
  width: 668px;
  height: 50px;
  display: block;
  margin: 0 auto;
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.548);
  border-radius: 0 0 4px 4px;
  background-color: #a9a6c5;
  overflow: hidden;
}

body #maincnt #whowin .winline {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  height: 100%;
}

body #maincnt #whowin .winline .score {
  display: flex;
  height: 100%;
  width: 190px;
  display: flex;
  justify-content: space-between;
  color: #FFF;
  font-size: 2rem;
  align-items: center;
}

body #maincnt #whowin .winline .score i {
  margin: auto;
}

body #maincnt #whowin .winline .score:last-of-type {
  flex-direction: row-reverse;
}

body #maincnt #whowin .winline .who {
  font-size: 1.8rem;
  margin-top: 4px;
}

body #maincnt #btndiv {
  display: flex;
  justify-content: space-around;
  width: 668px;
  height: 70px;
  margin: 0 auto;
}

body #maincnt #btndiv button {
  display: block;
  height: 100%;
  width: 200px;
  font-size: 24px;
  transition: 0.2s ease;
  transform: translateY(10px);
  border-radius: 1rem 1rem 0 0;
}

body #maincnt #btndiv button:hover {
  transform: translateY(0);
}

body #maincnt #btndiv .reset {
  background-color: #9E31EB;
  color: white;
}

body #maincnt #btndiv .clear {
  background-color: #C21734;
  color: white;
}
