$mainGreen: #E4E8AF;
$colorfulGreen: #e9f545;
$mainPurple: #a9a6c5;

* {
    margin: 0;
    box-sizing: border-box;
}

button {
    outline: none;
    cursor: pointer;
    border: none;
}

input {
    outline: none;

    &[type="submit"] {
        cursor: pointer;
    }
}

body {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    background-color: $mainGreen;
    background: linear-gradient(45deg, #c8db76 9%,#c8db76 9%,#927dc4 93%);
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.3 ease;

    #sidemenubar {
        width: 300px;
        background-color: $mainPurple;
        box-shadow: 0px 0px 6px 0px black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        a {
            color: $colorfulGreen;
            display: block;
            width: 100%;
            text-align: center;
            text-decoration: none;
            font-size: 2rem;
            margin-top: 1rem;

            img {
                height: 2rem;
            }
        }

        form {
            background-color: $mainGreen;
            margin: 30px 10px;
            padding: 10px 0;
            border-radius: 4px;

            p {
                margin: 10px;
                padding: 6px 1px;
                text-align: center;

                label {
                    width: 100%;
                    display: block;
                    text-align: left;
                }

                &:first-of-type {
                    border-bottom: 1px solid black;
                }
            }

            input[type="text"] {
                border: none;
                width: 100%;
                height: 1.5rem;
                font-size: 1.4rem;
                font-family: 'Montserrat', sans-serif;
                background-color: transparent;
                border-bottom: 1px solid black;
                border-radius: 0;
                text-align: center;
                margin-top: 12px;
            }

            input[type="submit"] {
                border: none;
                width: 50%;
                font-size: 1.4rem;
                font-family: 'Montserrat', sans-serif;
                background-color: $colorfulGreen;
                padding: 0.5rem 1rem;
                border-radius: 0;
                text-align: center;
                margin: auto;
                transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

                &:hover {
                    transform: translateY(3px);
                }
            }
        }

        #smth {
            background-color: white;
            margin: 30px 10px;
            padding: 10px 0;
            border-radius: 4px;
            text-align: center;
            height: 50%;
            display: flex;
            justify-content: center;

            p {
                margin: auto;
            }
        }

        footer {
            width: 100%;
            text-align: center;
            padding: 10px;

            p {
                color: black;
                font-size: 1rem;
                padding: 0 10px;

                .cons8 {
                    color: inherit;
                    font-size: 0.85rem;
                    padding-bottom: 4px;
                }
            }
        }
    }

    #maincnt {
        width: calc(100% - 300px);
        //background-color: beige;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        #container {
            height: 668px;
            width: 668px;
            margin: auto;
            display: block;
            border-radius: 4px;
            overflow: hidden;
            box-shadow: 0px 12px 12px 0px rgba(0, 0, 0, 0.548);

            .line {
                display: flex;
                width: 100%;
                height: calc(100%/3);
                justify-content: space-around;

                .ticchar {
                    display: flex;
                    height: 98%;
                    width: calc(98%/3);
                    text-align: center;
                    background-color: #B9CE90;
                    box-sizing: border-box;
                    justify-content: center;
                    transition: 0.2s ease;
                    //border: 1.2px solid whitesmoke;
                    cursor: pointer;
                    margin: auto;
                    border-radius: 4px;

                    &:hover {
                        background-color: #d0cee07e;
                        transition: 0.2s ease;
                    }

                    i {
                        font-size: 4.4rem;
                        margin: auto;
                        color: whitesmoke;
                        text-shadow: 1px 1px 3px black;
                    }
                }
            }
        }

        #whowin {
            width: 668px;
            height: 50px;
            display: block;
            margin: 0 auto;
            box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.548);
            border-radius: 0 0 4px 4px;
            background-color: $mainPurple;
            overflow: hidden;

            .winline {
                display: flex;
                justify-content: space-between;
                background-color: transparent;
                height: 100%;

                .score {
                    display: flex;
                    height: 100%;
                    width: 190px;
                    display: flex;
                    justify-content: space-between;
                    color: #FFF;
                    font-size: 2rem;
                    align-items: center;

                    i {
                        margin: auto;
                    }

                    &:last-of-type {
                        flex-direction: row-reverse;
                    }
                    
                }

                .who {
                    font-size: 1.8rem;
                    margin-top: 4px;
                }
            }
        }

        #btndiv {
            display: flex;
            justify-content: space-around;
            //background-color: #B9CE90;
            //border-radius: 20px 20px 0 0;
            //box-shadow: 0px -6px 4px 0px rgba(0, 0, 0, 0.548);
            width: 668px;
            height: 70px;
            margin: 0 auto;

            button {
                display: block;
                height: 100%;
                width: 200px;
                //background-color: #B9CE90;
                font-size: 24px;
                //color: #FFF;
                //text-shadow: 1.2px 1.2px black;
                transition: 0.2s ease;
                transform:  translateY(10px);
                border-radius: 1rem 1rem 0 0;

                &:hover {
                    transform: translateY(0);
                }
            }

            .reset {
                background-color: rgba(92, 173, 255, 0.8);
            }
            
            
            .clear {
                background-color: rgba(255, 123, 100, 0.8);
            }
        }
    }
}